body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: #30a830 ;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    border: 4px solid #0000008e;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

canvas {
    display: block;
    margin: 0 auto 15px auto; /* Auto para a margem horizontal e 15px para a margem inferior */
}

button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

